In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel("E:\major project\Final_Fraction_Dataset.xlsx")

In [8]:
df=df.drop(['Unnamed: 0'],axis=1)

In [9]:
small_fraction_data = df.sample(frac =.001)

In [10]:
small_fraction_data

,Movie_Id,Genre,Movie Name,Customer_ID,Rating
470085,8034,"Comedy, Musical, Western",The Harvey Girls,1008300,2
217618,4570,"Crime, Drama, Mystery",Midnight in the Garden of Good and Evil,1570562,2
40639,3782,"Drama, Horror, Sci-Fi",Flatliners,1973061,4
346322,16438,"Comedy, Music, Romance",The Wedding Singer,1360550,4
43219,457,"Documentay,Biography",Kill Bill: Vol. 2,1619065,5
...,...,...,...,...,...
56170,15887,"Action, Adventure, Fantasy",Van Helsing,1597040,4
70120,5169,"Comedy, Crime",My Cousin Vinny,922391,4
461644,6032,"Drama, Music, Musical",A Chorus Line,46929,4
296631,13738,"Adventure, Comedy",My Fellow Americans,1374884,4
266547,8107,"Drama, Horror, Mystery",Predator: Collector's Edition,2022092,5

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
df_new=df.drop('Genre', axis=1)
df_new=df.drop('Movie Name', axis=1)

In [17]:

X = df_new.copy()
y = df_new['Customer_ID']

In [13]:
y

0         2223831
1         2283043
2         1402612
3         2473795
4         1705196
           ...
524283    2583754
524284     938826
524285    2264259
524286     900303
524287    2069542
Name: Customer_ID, Length: 524288, dtype: int64

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,  random_state=42)

In [23]:
from sklearn.metrics import mean_squared_error

#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [19]:
def baseline(user_id, movie_id):
    return 3.0

In [24]:
def score(cf_model):
    
    #Construct a list of user-movie tuples from the testing dataset
    id_pairs = zip(X_test['Customer_ID'], X_test['Movie_Id'])
    
    #Predict the rating for every user-movie tuple
    y_pred = np.array([cf_model(user, movie) for (user, movie) in id_pairs])
    
    #Extract the actual ratings given by the users in the test data
    y_true = np.array(X_test['Rating'])
    
    #Return the final RMSE score
    return rmse(y_true, y_pred)

In [25]:
score(baseline)

1.2038033294748305

In [26]:
r_matrix = X_train.pivot_table(values='Rating', index='Customer_ID', columns='Movie_Id')

r_matrix.head()

Movie_Id,3,5,6,8,16,17,18,24,25,26,...,17743,17751,17756,17758,17761,17762,17763,17764,17768,17769
Customer_ID,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
r_matrix

Movie_Id,3,5,6,8,16,17,18,24,25,26,...,17743,17751,17756,17758,17761,17762,17763,17764,17768,17769
Customer_ID,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
def cf_user_mean(user_id, movie_id):
    
    #Check if movie_id exists in r_matrix
    if movie_id in r_matrix:
        #Compute the mean of all the ratings given to the movie
        mean_rating = r_matrix[movie_id].mean()
    
    else:
        #Default to a rating of 3.0 in the absence of any information
        mean_rating = 3.0
    
    return mean_rating

In [21]:
r_matrix_dummy = r_matrix.copy().fillna(0)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

MemoryError: Unable to allocate 62.8 GiB for an array with shape (91844, 91844) and data type float64

In [22]:
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

cosine_sim.head(10)

NameError: name 'cosine_sim' is not defined

In [8]:
n_users = small_fraction_data.Customer_ID.nunique()
n_items = small_fraction_data.Movie_Id.nunique()

In [9]:
print('Num. of Users: '+ str(n_users))
print('Num of Movies: '+str(n_items))

Num. of Users: 524
Num of Movies: 459

In [11]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.25)

In [12]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [13]:
from sklearn.metrics.pairwise import linear_kernel

In [27]:
cosine_sim = linear_kernel(r_matrix, r_matrix)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
metad['overview'] = metadata['overview'].fillna('')

In [3]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [7]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()

In [15]:
data = Dataset.load_from_df(small_fraction_data[['Customer_ID', 'Movie_Id', 'Rating']], reader)

In [20]:
from surprise.model_selection import KFold

In [21]:
kf = KFold(n_splits=5)
kf.split(data)

In [23]:
svd=SVD()

In [24]:
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'test_rmse': array([1.08236046, 0.95839654, 1.07999782, 1.03692271, 1.10676793]),
 'test_mae': array([0.90229321, 0.78571249, 0.88171855, 0.88373637, 0.93211071]),
 'fit_time': (0.03488659858703613,
  0.023944377899169922,
  0.02489304542541504,
  0.02393627166748047,
  0.02396678924560547),
 'test_time': (0.001028299331665039, 0.0, 0.0, 0.0, 0.0009989738464355469)}

In [25]:

trainset = data.build_full_trainset()
svd.fit(trainset)

In [28]:
svd.predict(922391, 15887, 10)

Prediction(uid=922391, iid=15887, r_ui=10, est=3.661035712703712, details={'was_impossible': False})

In [29]:
from sklearn.model_selection import train_test_split

In [32]:
X = small_fraction_data[['Customer_ID','Movie_Id','Rating']]
y = small_fraction_data['Customer_ID']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [35]:
r_matrix = X_train.pivot_table(values='Rating', index='Customer_ID', columns='Movie_Id')

r_matrix.head()

Movie_Id,8,175,199,223,257,357,443,457,468,494,...,17424,17495,17558,17560,17621,17622,17627,17661,17762,17764
Customer_ID,,,,,,,,,,,,,,,,,,,,,
15966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
def cf_user_mean(Customer_ID, Movie_Id):
    
    #Check if movie_id exists in r_matrix
    if Customer_ID in r_matrix:
        #Compute the mean of all the ratings given to the movie
        mean_rating = r_matrix[Customer_ID].mean()
    
    else:
        #Default to a rating of 3.0 in the absence of any information
        mean_rating = 3.0
    
    return mean_rating

In [37]:
r_matrix_dummy = r_matrix.copy().fillna(0)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

In [39]:
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

cosine_sim.head(10)

Customer_ID,15966,16029,36581,42301,46929,62979,68297,78573,79380,86288,...,2568123,2576863,2580792,2582004,2592889,2614903,2635348,2637974,2645917,2646207
Customer_ID,,,,,,,,,,,,,,,,,,,,,
15966,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16029,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36581,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42301,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46929,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62979,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68297,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86288,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
from scipy.sparse.linalg import svds 
U, sigma, Vt = svds(cosine_sim, k = 50)

In [41]:
sigma = np.diag(sigma)

In [44]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [49]:
all_user_predicted_ratings

array([[ 8.24381136e-02, -3.94692717e-05, -1.33254594e-02, ...,
        -5.23926732e-03, -4.57511960e-04,  4.50440850e-03],
       [-3.94692717e-05,  2.26859363e-07, -1.02883033e-05, ...,
        -7.17037286e-06,  1.11968353e-06,  5.55575253e-06],
       [-1.33254594e-02, -1.02883033e-05,  1.09907129e-01, ...,
         5.31712036e-03,  4.30273164e-03, -2.43518332e-03],
       ...,
       [-5.23926732e-03, -7.17037286e-06,  5.31712036e-03, ...,
         3.12019709e-03,  1.11613486e-03, -1.48902174e-03],
       [-4.57511960e-04,  1.11968353e-06,  4.30273164e-03, ...,
         1.11613486e-03,  1.77003005e-03,  1.78415878e-04],
       [ 4.50440850e-03,  5.55575253e-06, -2.43518332e-03, ...,
        -1.48902174e-03,  1.78415878e-04,  7.91197124e-03]])

In [73]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.user_id == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'Movie_Id', right_on = 'Movie_Id').
                     sort_values(['Rating'], ascending=False)
                 )
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['Movie_Id'].isin(user_full['Movie_Id'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'Movie_Id',
               right_on = 'Movie_Id').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [74]:
preds = pd.DataFrame(all_user_predicted_ratings)

In [56]:
preds

,0,1,2,3,4,5,6,7,8,9,...,383,384,385,386,387,388,389,390,391,392
0,8.243811e-02,-3.946927e-05,-1.332546e-02,-1.550686e-17,-2.242589e-03,4.720290e-03,-1.711506e-02,-1.331944e-03,1.447777e-02,-1.196816e-02,...,-1.550686e-17,-5.480626e-02,1.535675e-02,2.019367e-02,-7.764201e-03,-6.433023e-03,1.165896e-02,-5.239267e-03,-4.575120e-04,4.504409e-03
1,-3.946927e-05,2.268594e-07,-1.028830e-05,1.405487e-20,-4.052351e-06,1.815174e-06,-3.917982e-05,-1.443333e-05,-2.421453e-05,1.887140e-05,...,1.405487e-20,1.953597e-06,-2.158225e-05,-8.822292e-06,-1.849436e-05,-1.889623e-07,4.531113e-05,-7.170373e-06,1.119684e-06,5.555753e-06
2,-1.332546e-02,-1.028830e-05,1.099071e-01,6.548770e-18,-8.305797e-04,8.532611e-03,7.627807e-03,3.609884e-03,3.536772e-03,1.804894e-02,...,6.548770e-18,-5.593654e-03,-4.799797e-02,-1.542480e-02,-2.419401e-03,-1.019082e-02,1.039223e-02,5.317120e-03,4.302732e-03,-2.435183e-03
3,-9.840452e-18,4.053768e-21,7.094089e-18,1.000000e+00,-1.577397e-18,5.870763e-18,-1.104771e-17,6.567419e-18,-3.748996e-18,-1.935946e-19,...,1.000000e+00,1.093938e-17,-9.737473e-18,-1.234189e-17,-7.075749e-18,1.197136e-17,-9.455439e-18,3.921414e-18,3.540530e-18,-4.088574e-18
4,-2.242589e-03,-4.052351e-06,-8.305797e-04,-2.001694e-18,2.311174e-03,1.464380e-03,-2.308870e-03,7.742777e-04,1.095852e-03,-2.184235e-03,...,-2.001694e-18,-2.132940e-03,-2.380100e-03,9.185995e-04,2.989821e-03,-7.795058e-04,-1.660013e-03,-1.561098e-04,-9.035187e-04,-9.911598e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,-6.433023e-03,-1.889623e-07,-1.019082e-02,1.197249e-17,-7.795058e-04,4.247557e-04,-1.289707e-02,2.904013e-03,-3.594911e-03,-7.622709e-03,...,1.197249e-17,1.284456e-02,8.689824e-03,6.361168e-03,4.625933e-03,1.891703e-02,7.938879e-04,2.342068e-04,2.302356e-05,1.351056e-03
389,1.165896e-02,4.531113e-05,1.039223e-02,-9.724987e-18,-1.660013e-03,-2.596418e-04,-1.644093e-02,-9.178015e-03,2.864710e-04,8.390447e-03,...,-9.724987e-18,-3.002590e-02,-8.407122e-03,1.436347e-02,-1.316546e-02,7.938879e-04,6.384990e-02,-2.539649e-03,-1.789699e-03,1.112886e-02
390,-5.239267e-03,-7.170373e-06,5.317120e-03,3.799961e-18,-1.561098e-04,2.369934e-03,1.890913e-03,1.487170e-03,7.523631e-04,1.346575e-03,...,3.799961e-18,5.681464e-03,-6.088706e-03,-3.640128e-03,-3.366009e-03,2.342068e-04,-2.539649e-03,3.120197e-03,1.116135e-03,-1.489022e-03
391,-4.575120e-04,1.119684e-06,4.302732e-03,2.355862e-18,-9.035187e-04,3.212427e-04,-1.676646e-03,8.245898e-04,-7.630467e-04,2.138662e-03,...,2.355862e-18,5.174197e-03,1.068467e-03,-3.841060e-03,3.799291e-04,2.302356e-05,-1.789699e-03,1.116135e-03,1.770030e-03,1.784159e-04
392,4.504409e-03,5.555753e-06,-2.435183e-03,-4.878106e-18,-9.911598e-04,-3.906822e-03,-1.094708e-03,-2.795679e-03,-3.067903e-04,-2.674241e-04,...,-4.878106e-18,-8.541686e-03,9.697318e-03,2.523146e-03,2.372055e-03,1.351056e-03,1.112886e-02,-1.489022e-03,1.784159e-04,7.911971e-03

In [77]:
predictions = recommend_movies(cosine_sim, 86288, movies,Ratings, 20)

IndexError: single positional indexer is out-of-bounds

In [65]:
movies=small_fraction_data[['Movie_Id','Movie Name']]

In [79]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')
#fit model to the data set
model_knn.fit(cosine_sim)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [82]:
def print_similar_movies(query_index) :
    #get the list of user ratings for a specific userId
    query_index_movie_ratings = cosine_sim.loc[query_index,:].values.reshape(1,-1)
    #get the closest 10 movies and their distances from the movie specified
    distances,indices = model_knn.kneighbors(query_index_movie_ratings,n_neighbors = 11) 
    #write a lopp that prints the similar movies for a specified movie.
    for i in range(0,len(distances.flatten())):
        #get the title of the random movie that was chosen
        get_movie = small_fraction_data.loc[small_fraction_data['Movie_Id']==query_index]['Movie Name']
        #for the first movie in the list i.e closest print the title
        if i==0:
            print('Recommendations for {0}:\n'.format(get_movie))
        else :
            #get the indiciees for the closest movies
            indices_flat = indices.flatten()[i]
            #get the title of the movie
            get_movie = small_fraction_data.loc[small_fraction_data['Movie_Id']==cosine_sim.iloc[indices_flat,:].name]['Movie Name']
            #print the movie
            print('{0}: {1}, with distance of {2}:'.format(i,get_movie,distances.flatten()[i]))

In [87]:
print_similar_movies(15966)

Recommendations for Series([], Name: Movie Name, dtype: object):

1: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
2: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
3: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
4: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
5: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
6: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
7: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
8: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
9: Series([], Name: Movie Name, dtype: object), with distance of 1.0:
10: Series([], Name: Movie Name, dtype: object), with distance of 1.0: