In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel("E:\major project\Final_Fraction_Dataset.xlsx")

In [3]:
df=df.drop(['Unnamed: 0'],axis=1)

In [4]:
small_fraction_data = df.sample(frac =.001)

In [5]:
small_fraction_data

,Movie_Id,Genre,Movie Name,Customer_ID,Rating
167354,2360,"Comedy, Musical, Romance",Singin' in the Rain,511899,3
247701,14459,Comedy,Uncle Buck,1859649,2
215939,5616,"Action, Drama, Romance",The Blue Max,2291170,4
314607,17014,"Crime, Horror, Thriller",The First Power,1178902,3
349919,13391,"Action, Comedy, Thriller",True Lies,2456593,4
...,...,...,...,...,...
220098,14829,Drama,The United States of Leland,727879,4
279717,16384,"Action, Crime, Drama",The Fugitive,1185653,3
445742,6408,"Comedy, Drama",Good Morning,1700725,4
23749,2199,"Action, Crime, Drama",Ricochet,1544026,3
41623,1571,"Horror, Thriller",Poltergeist,2608552,4

In [6]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [7]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()

In [8]:
data = Dataset.load_from_df(small_fraction_data[['Customer_ID', 'Movie_Id', 'Rating']], reader)

In [9]:
from surprise.model_selection import KFold

In [10]:
kf = KFold(n_splits=5)
kf.split(data)

In [11]:
svd=SVD()

In [12]:
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'test_rmse': array([0.85242615, 1.0646353 , 1.01108257, 1.06189323, 1.04249236]),
 'test_mae': array([0.71571303, 0.90983033, 0.82236331, 0.85626677, 0.87347154]),
 'fit_time': (0.03687167167663574,
  0.02493143081665039,
  0.023936748504638672,
  0.02294325828552246,
  0.023936033248901367),
 'test_time': (0.0019943714141845703,
  0.000997304916381836,
  0.0,
  0.0009963512420654297,
  0.0)}

In [13]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [21]:
svd.predict(511899, 6408)

Prediction(uid=511899, iid=6408, r_ui=None, est=3.772551991310153, details={'was_impossible': False})

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X = small_fraction_data[['Customer_ID','Movie_Id','Rating']]
y = small_fraction_data['Customer_ID']

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [25]:
r_matrix = X_train.pivot_table(values='Rating', index='Customer_ID', columns='Movie_Id')

In [26]:
r_matrix

Movie_Id,30,191,273,295,305,312,329,381,436,473,...,17328,17339,17387,17405,17464,17467,17513,17562,17703,17769
Customer_ID,,,,,,,,,,,,,,,,,,,,,
2693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2627393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2631658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2631950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2637187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2648730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
def cf_user_mean(Customer_ID, Movie_Id):
    
    #Check if movie_id exists in r_matrix
    if Customer_ID in r_matrix:
        #Compute the mean of all the ratings given to the movie
        mean_rating = r_matrix[Customer_ID].mean()
    
    else:
        #Default to a rating of 3.0 in the absence of any information
        mean_rating = 3.0
    
    return mean_rating

In [28]:
r_matrix_dummy = r_matrix.copy().fillna(0)

In [29]:
r_matrix_dummy

Movie_Id,30,191,273,295,305,312,329,381,436,473,...,17328,17339,17387,17405,17464,17467,17513,17562,17703,17769
Customer_ID,,,,,,,,,,,,,,,,,,,,,
2693,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2627393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2631658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2631950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2637187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2648730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

In [31]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [32]:
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

In [33]:
cosine_sim

Customer_ID,2693,2794,13856,17451,18426,19832,21619,36329,38908,42064,...,2600674,2611904,2613976,2621587,2627128,2627393,2631658,2631950,2637187,2648730
Customer_ID,,,,,,,,,,,,,,,,,,,,,
2693,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2794,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13856,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17451,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18426,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2627393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2631658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2631950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2637187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2648730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
from scipy.sparse.linalg import svds 
U, sigma, Vt = svds(cosine_sim, k = 50)

In [35]:
sigma = np.diag(sigma)

In [36]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [37]:
all_user_predicted_ratings

array([[ 2.24328971e-02, -3.36530640e-06, -8.36352768e-03, ...,
         4.74624682e-03,  1.60028042e-17, -1.43357708e-02],
       [-3.36530640e-06,  1.52718177e-07, -2.59665641e-06, ...,
        -1.12127977e-05, -3.38106900e-21,  5.81584039e-06],
       [-8.36352768e-03, -2.59665641e-06,  2.94123456e-02, ...,
         3.44287918e-03,  7.27646671e-18, -3.96909933e-03],
       ...,
       [ 4.74624682e-03, -1.12127977e-05,  3.44287918e-03, ...,
         1.36557643e-01,  3.84581609e-17, -1.62403493e-02],
       [ 5.54076189e-18, -4.13891623e-21,  9.37464108e-18, ...,
         8.39789434e-18,  1.00000000e+00, -6.68505757e-18],
       [-1.43357708e-02,  5.81584039e-06, -3.96909933e-03, ...,
        -1.62403493e-02, -1.21649692e-17,  6.31204837e-02]])

In [89]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')
#fit model to the data set
model_knn.fit(r_matrix_dummy)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [99]:
def print_similar_movies(query_index) :
    #get the list of user ratings for a specific userId
    query_index_movie_ratings = r_matrix_dummy.loc[query_index,:].values.reshape(1,-1)
    #get the closest 10 movies and their distances from the movie specified
    distances,indices = model_knn.kneighbors(query_index_movie_ratings,n_neighbors = 11) 
    #write a lopp that prints the similar movies for a specified movie.
    for i in range(0,len(distances.flatten())):
        #get the title of the random movie that was chosen
        get_movie = small_fraction_data.loc[small_fraction_data['Customer_ID']==query_index]['Movie Name']
      
        
        #for the first movie in the list i.e closest print the title
        if i==0:
            print('Recommendations for {0}:\n'.format(get_movie))
        else :
            #get the indiciees for the closest movies
            indices_flat = indices.flatten()[i]
            #get the title of the movie
         
            get_movie = small_fraction_data.loc[small_fraction_data['Customer_ID']==r_matrix_dummy.iloc[indices_flat,:].name]['Movie Name']
         
            #print the movie
            print('{0}: {1}, with distance of {2}:'.format(i,get_movie,distances.flatten()[i]))

In [100]:
print_similar_movies(18426)

Recommendations for 210506    Wall Street
Name: Movie Name, dtype: object:

1: 210506    Wall Street
Name: Movie Name, dtype: object, with distance of 0.0:
2: 384615    Oz: Season 1
Name: Movie Name, dtype: object, with distance of 1.0:
3: 417465    The Best of Friends: Vol. 1
Name: Movie Name, dtype: object, with distance of 1.0:
4: 489776    The Ring Two
Name: Movie Name, dtype: object, with distance of 1.0:
5: 69900    Universal Soldier
Name: Movie Name, dtype: object, with distance of 1.0:
6: 450136    The Royal Tenenbaums
Name: Movie Name, dtype: object, with distance of 1.0:
7: 7815    Picnic
Name: Movie Name, dtype: object, with distance of 1.0:
8: 472669    Raiders of the Lost Ark
Name: Movie Name, dtype: object, with distance of 1.0:
9: 381264    Dances With Wolves: Special Edition
Name: Movie Name, dtype: object, with distance of 1.0:
10: 183438    Paycheck
Name: Movie Name, dtype: object, with distance of 1.0:

In [96]:
print_similar_movies(2627393)

Recommendations for 27443    Resident Evil: Apocalypse
Name: Movie Name, dtype: object:

1: 384615    Oz: Season 1
Name: Movie Name, dtype: object, with distance of 1.0:
2: 413142    The Fighting Temptations
Name: Movie Name, dtype: object, with distance of 1.0:
3: 489776    The Ring Two
Name: Movie Name, dtype: object, with distance of 1.0:
4: 69900    Universal Soldier
Name: Movie Name, dtype: object, with distance of 1.0:
5: 209297    Taxi
Name: Movie Name, dtype: object, with distance of 1.0:
6: 381264    Dances With Wolves: Special Edition
Name: Movie Name, dtype: object, with distance of 1.0:
7: 7815    Picnic
Name: Movie Name, dtype: object, with distance of 1.0:
8: 472669    Raiders of the Lost Ark
Name: Movie Name, dtype: object, with distance of 1.0:
9: 182589    California Suite
Name: Movie Name, dtype: object, with distance of 1.0:
10: 417465    The Best of Friends: Vol. 1
Name: Movie Name, dtype: object, with distance of 1.0:

In [102]:
print_similar_movies(2693)

Recommendations for 179341    Girl
Name: Movie Name, dtype: object:

1: 417465    The Best of Friends: Vol. 1
Name: Movie Name, dtype: object, with distance of 1.0:
2: 489776    The Ring Two
Name: Movie Name, dtype: object, with distance of 1.0:
3: 69900    Universal Soldier
Name: Movie Name, dtype: object, with distance of 1.0:
4: 384615    Oz: Season 1
Name: Movie Name, dtype: object, with distance of 1.0:
5: 450136    The Royal Tenenbaums
Name: Movie Name, dtype: object, with distance of 1.0:
6: 381264    Dances With Wolves: Special Edition
Name: Movie Name, dtype: object, with distance of 1.0:
7: 7815    Picnic
Name: Movie Name, dtype: object, with distance of 1.0:
8: 472669    Raiders of the Lost Ark
Name: Movie Name, dtype: object, with distance of 1.0:
9: 247701    Uncle Buck
Name: Movie Name, dtype: object, with distance of 1.0:
10: 413142    The Fighting Temptations
Name: Movie Name, dtype: object, with distance of 1.0: